.square1 {
    width: 120px;
    height: 120px;
    background-color: red;

    display: inline-block;
}
.square2{
    width: 120px;
    height: 120px;
    background-color: blue;

    display: inline-block;
}
.square3 {
    width: 120px;
    height: 120px;
    background-color: green;

    display: inline-block;
}