#red {
    border-color: red;
    color: red;
}

#blue {
    border-color: blue;
    color: blue;
}

#green {
    border-color: green;
    color: green;
}
#black {
    border-color: black;
    color: black;
}
#yellow {
     border-color: yellow;
     color: yellow;
 }
#aqua {
      border-color:aqua;
      color: aqua;
  }